/* Large: 992px */
@media (max-width: 992px) {
    .hero__info {
        width: 52%;
        right: 4rem;
    }

    .hero__info-a {
        width: 65%;
        margin: 3.6rem 0;
    }


    .navbar__links {
        display: none;
    }
    .hamburger {
        display: flex;
    }




    .store__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Medium: 768px */
@media (max-width: 768px) {

    /* Hero */

    .hero__img {
        object-fit: cover;
        object-position: center left;
        filter: blur(.8rem);
    }

    .hero__info {
        position: absolute;
        top: 4rem;
        right: 0;
        left: 0;
        margin: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero__info-a {
        width: 90%;
        margin: 3.6rem auto;
    }


    /* Store */

    .store__cards {
        grid-template-columns: repeat(2, 1fr);
    }


    /* About Us */

    .aboutUs__div1-bck,
    .aboutUs__div2-bck,
    .aboutUs__div3-bck {
        min-height: 22rem;
        padding: 4rem 0;
    }

    .aboutUs__div1,
    .aboutUs__div2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .aboutUs__div3 {
        max-width: 90%;
    }

    
    .aboutUs__div1-p,
    .aboutUs__div2-p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
    }
    .aboutUs__div1-img {
        grid-row: 1 / 2;
    }
    
    .aboutUs__div1-img,
    .aboutUs__div2-img {
        width: 55%;
    }
}


/* Small: 576px */

@media (max-width: 576px) {
    .hero__info {
        position: absolute;
        top: 4rem;
        right: 0;
        left: 0;
        margin: auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    
    .store__cards {
        grid-template-columns: 1fr
    }


    /* About Us */
    .aboutUs__div1-img,
    .aboutUs__div2-img {
        width: 90%;
    }
}