/* Large: 992px */
@media (max-width: 992px) {
    .hero__info {
        width: 52%;
        right: 4rem;
    }

    .hero__info-a {
        width: 65%;
        margin: 3.6rem 0;
    }


    .navbar__links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .navbar__links-mq {
        display: flex;
    }


    /* Cart */
    .cart {
        width: 80%;
    }


    .cart__info {
        width: 60%;
    }


    .store__cards {
        grid-template-columns: repeat(3, 1fr);
    }



    /* ContactUs */

    .contactUs__form-emailInput,
    .contactUs__form-nameInput,
    .contactUs__form-msgInput,
    .contactUs__form-btn {
        width: 90%;
    }

    .contactUs__info-map iframe{
        width: 25rem;
    }
}

/* Medium: 768px */
@media (max-width: 768px) {

    /* Hero */

    .hero__img {
        object-fit: cover;
        object-position: center left;
        filter: blur(1rem);
    }

    .hero__info {
        position: absolute;
        top: 4rem;
        right: 0;
        left: 0;
        margin: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero__info-a {
        width: 90%;
        margin: 3.6rem auto;
    }


    /* Cart */
    .cart__info {
        width: 100%;
    }


    /* Store */

    .store__cards {
        grid-template-columns: repeat(2, 1fr);
    }


    /* About Us */

    .aboutUs__div1-bck,
    .aboutUs__div2-bck,
    .aboutUs__div3-bck {
        min-height: 22rem;
        padding: 4rem 0;
    }

    .aboutUs__div1,
    .aboutUs__div2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .aboutUs__div3 {
        max-width: 90%;
    }

    
    .aboutUs__div1-p,
    .aboutUs__div2-p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
    }
    .aboutUs__div1-img {
        grid-row: 1 / 2;
    }
    
    .aboutUs__div1-img,
    .aboutUs__div2-img {
        width: 55%;
    }



    /* ContactUs */

    .contactUs__info-form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }


    .contactUs__info-map iframe{
        width: 35rem;
    }

    .contactUs__form {
        border-radius: 0 0 .8rem .8rem;
    }
}


/* Small: 576px */

@media (max-width: 576px) {
    .hero__info {
        position: absolute;
        top: 4rem;
        right: 0;
        left: 0;
        margin: auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero__info-Heading {
        font-size: 6rem;
    }
    .hero__info-subHeading {
        font-size: 3.2rem;
    }
    

    .navbar__logo {
        font-size: 2.4rem;
    }

    .shopping-cart__icon {
        width: 4rem;
    }

    /* Cart */
    .cart {
        width: 100%;
    }
    .cart__item-img-info {
        gap: 1.2rem;
    }
    .cart__item-img-div {
        width: 8rem;
    }
    .cart__info {
        width: 100%;
    }
    .cart__info-btn {
        width: 100%;
    }

    .cart__item-buttons {
        flex-direction: column;
        gap: 1.2rem;
        font-size: 1.2rem;
    }
    .cart__item-buttons-minBtn,
    .cart__item-buttons-addBtn {
        width: 2.4rem;
        height: 2.4rem;
}

    .cart__item-buttons-minBtn {
        order: 0;
    }
    .cart__item-buttons-addBtn {
        order: 0;
    }




    
    .store__cards {
        grid-template-columns: 1fr
    }


    /* About Us */
    .aboutUs__div1-img,
    .aboutUs__div2-img {
        width: 90%;
    }


    /* ContactUs */

    .contactUs__info-form {
        width: 100%;
    }

    .contactUs__info-map iframe{
        width: 25rem;
    }

    .footer__navbar-logo {
        font-size: 2rem;
    }

    .footer__navbar-icons img {
        width: 2rem;
    }
}