:root {
    --black: #141414;
    --darkGreen: #354e3a;
    --green: #82a682;
    --lightGreen: #becfab;
    --lightGreenBr: #becfab5d;
    --lightGreenDr: #becfab9c;
    --creamWhite: #e0e4d3;
    --white: #e7eee6;


    --subHeadingFont: 'Poppins', sans-serif;
    --headingFont: 'Forum', cursive;
    --pFont: 'Cormorant Garamond', serif;
}



/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
	scroll-padding-top: 8rem;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: 0;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
a::selection,
i::selection {
    color: var(--white);
    background-color: var(--darkGreen);
}

h1 {
    font-family: var(--headingFont);
    font-size: 7.2rem;
    letter-spacing: .2rem;
}
h2 {
    font-family: var(--subHeadingFont);
    font-size: 4.8rem;
}
h3 {
    font-family: var(--subHeadingFont);
    font-size: 4.4rem;
}
h4 {
    font-family: var(--subHeadingFont);
    font-size: 4rem;
    margin: 4rem 0 1.2rem;
}
h5 {
    font-family: var(--subHeadingFont);
    font-size: 3.6rem;
}
h6 {
    font-family: var(--subHeadingFont);
    font-size: 3.2rem;
}

p {
    font-family: var(--pFont);
    font-size: 2rem;
    letter-spacing: .02rem;
}

a {
    font-family: var(--subHeadingFont);
    font-size: 1.6rem;
    letter-spacing: .02rem;
    color: var(--black);
    text-decoration: none;
}

img {
    border-radius: .8rem;
}


.hidden {
    display: none;
}





/* Hero */

.hero {
    min-height: 100vh;
}


.hero__img {
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.hero__info {
    position: absolute;
    top: 10%;
    right: 6%;
    margin: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
}


.hero__info-subHeading {
    margin-bottom: 0;
}
.hero__info-Heading {
    margin: 1.2rem 0 4.8rem;
}
.hero__info-p {
    margin: 1.2rem 0;
}


.hero__info-a {
    width: 35%;
    margin: 3.6rem 0;
}

.hero__info-aBtn {
    width: 100%;
    padding: .8rem 0;
    border: none;
    color: var(--darkGreen);
    background-color: var(--creamWhite);
    border-radius: .8rem;
    font-family: var(--subHeadingFont);
    font-size: 1.4rem;
    cursor: pointer;
    letter-spacing: .05rem;
    transition: all .2s;
}
.hero__info-aBtn:hover {
    background-color: var(--darkGreen);
    color: var(--white);
}



/* Header */
header {
    background-color: var(--lightGreen);
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar,
.footer__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 8rem;
}


.navbar__logo,
.footer__navbar-logo {
    font-size: 2.8rem;
    font-family: var(--headingFont);
    letter-spacing: .2rem;
}


.navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.navbar__links a {
    position: relative;
    display: inline-block;
    transition: all .2s;
}
.navbar__links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: .05rem;
    width: 100%;
    height: 1px;
    background: var(--darkGreen);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
    margin: auto;
    text-align: center;
}
.navbar__links a:hover {
    color: var(--darkGreen);
}
.navbar__links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.shopping-cart {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.shopping-cart__icon {
    width: 4.8rem;
}
.shopping-cart__circle {
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--darkGreen);
    opacity: .9;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: transform .2s;
}
.shopping-cart__number {
    margin: 0;
    font-family: var(--subHeadingFont);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--creamWhite);
}
.shopping-cart:hover > .shopping-cart__circle {
    transform: scale(1.2);
}


.hamburger {
    width: 6rem;
    height: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    cursor: pointer;
}

.hamburger__line {
    background-color: var(--black);
    height: 1px;
}
.hamburger__line1,
.hamburger:hover > .hamburger__line3 {
    width: 100%;
    transition: all .4s;
}
.hamburger__line2 {
    width: 80%;
}
.hamburger__line3,
.hamburger:hover > .hamburger__line1 {
    width: 60%;
    transition: all .4s;
}





.store {
    min-height: 100vh;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.store__filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4rem;
    margin-bottom: 1.2rem;
}


.store__filters-p {
    font-size: 1.6rem;
    margin: 1.2rem 0;
}


.store__filters-orderBy,
.store__filters-lm,
.store__filters-size {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    row-gap: 0;
    margin-top: .4rem;
}



.store__filters-sizeBtns,
.store__filters-lmBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.store__filters-btn,
.store__filters-orderBy-select {
    border: 1px solid var(--green);
    padding: .4rem .8rem;
    color: var(--darkGreen);
    background-color: var(--creamWhite);
    border-radius: .8rem;
    font-family: var(--subHeadingFont);
    font-size: 1.2rem;
    cursor: pointer;
    letter-spacing: .05rem;
}
.store__filters-btn:focus {
    background-color: var(--green);
    color: var(--white);
}



.store__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 1.2rem auto 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid var(--darkGreen);
    border-radius: .8rem;
    padding: 1.6rem;
}

.card__img {
    width: 80%;
    align-self: center;
    border: 1px solid var(--darkGreen);
    margin: 0;
}

.card__title {
    margin: 1.6rem 0;
}

.card__name {
    margin: 0;
}

.card__sciName {
    margin: -.8rem auto 0;
    font-size: 1.6rem;
    font-style: italic;
}

.card__description {
    margin: 0;
    font-size: 1.6rem;
}

.card__features {
    margin: 1.6rem 0;
}
.card__size,
.card__lm {
    font-size: 1.6rem;
    margin: 0;
}

.card__priceBtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 1.2rem;
}

.card__price {
    margin: 0;
    font-family: var(--subHeadingFont);
}
.card__add-to-cartBtn {
    border: none;
    padding: .8rem .8rem;
    color: var(--darkGreen);
    background-color: var(--creamWhite);
    border-radius: .8rem;
    font-family: var(--subHeadingFont);
    font-size: 1.2rem;
    cursor: pointer;
    letter-spacing: .05rem;
    transition: all .2s;
}

.card__add-to-cartBtn:hover {
    color: var(--creamWhite);
    background-color: var(--darkGreen);
}


/* About Us */

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    text-align: center;
}

.aboutUs__title {
    max-width: 90%;
}
.aboutUs__subtitle {
    font-family: var(--subHeadingFont);
    max-width: 90%;
    margin: 0 auto 2.8rem;
}


.aboutUs__div1-bck,
.aboutUs__div2-bck,
.aboutUs__div3-bck {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 22rem;
}

.aboutUs__div1-bck,
.aboutUs__div3-bck {
    background-color: var(--lightGreenBr);
    padding: 2rem 0;
}
.aboutUs__div2-bck {
    background-color: var(--lightGreenDr);
    padding: 2rem 0;
}

.aboutUs__div1,
.aboutUs__div2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    max-width: 90%;
    margin: auto;
}
.aboutUs__div3 {
    max-width: 60%;
    margin: auto;
}


.aboutUs__div1-p {
    grid-column: 1 / 3;
    text-align: right;
}
.aboutUs__div2-p {
    grid-column: 2 / 4;
    text-align: left;
}

.aboutUs__div1-img,
.aboutUs__div2-img {
    width: 70%;
}



/* Q&A */

.qna {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}


.qna__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid var(--darkGreen);
    border-radius: .8rem;
    padding: 1.6rem;
    cursor: pointer;
    gap: 2rem;
}

.qna__question-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.qna__question {
    font-size: 2rem;
    margin: 0;
    font-weight: 100;
}

.qna__arrow {
    position: relative;
    width: 4rem;
    height: 3.2rem;
}
.qna__arrow-line1,
.qna__arrow-line2 {
    position: absolute;
    top: 50%;
    background-color: var(--black);
    width: 54%;
    height: 1px;
    transition: all .2s;
}
.qna__arrow-line1 {
    left: 0;
    transform: rotate(30deg);
}
.qna__arrow-line2 {
    right: 0;
    transform: rotate(330deg);
}

.qna__box:hover > .qna__question-arrow > .qna__arrow > .qna__arrow-line1 {
    transform: rotate(-30deg);
}

.qna__box:hover > .qna__question-arrow > .qna__arrow > .qna__arrow-line2 {
    transform: rotate(390deg);
}


.qna__answer {
    font-size: 1.8rem;
}


/* Contacto */

.contactUs {
    width: 90%;
    margin: 0 auto 8rem;
    padding-top: .8rem;
}



.contactUs__info-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    border: 1px solid var(--darkGreen);
    border-radius: .8rem;
    background-color: var(--creamWhite);
    margin: auto;
}


.contactUs__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1.2rem;
}
.contactUs__info-email,
.contactUs__info-phone {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.contactUs__info-email a,
.contactUs__info-phone a {
    color: var(--darkGreen);
    text-decoration: underline;
}
.contactUs__info-map iframe{
    border-radius: .8rem;
}



.contactUs__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGreen);
    gap: 1.2rem;
    padding: 4rem 0;
    border-radius: 0 .8rem .8rem 0;
}

.contactUs__form-msgInput {
    resize: none;
    height: 20rem;
}

.contactUs__form-emailInput,
.contactUs__form-nameInput,
.contactUs__form-msgInput,
.contactUs__form-btn {
    width: 70%;
    background-color: var(--white);
    border: 1px solid var(--darkGreen);
    border-radius: .8rem;
    padding: .8rem 1.6rem;
    font-family: var(--pFont);
    font-size: 1.6rem;
    letter-spacing: .05rem;
    outline: none;
}
.contactUs__form input:focus,
.contactUs__form textarea:focus {
    border: 1px solid var(--creamWhite);
    outline: 2px solid var(--creamWhite);
}

.contactUs__form-btn {
    cursor: pointer;
    transition: all .2s;
    font-size: 2rem;
    letter-spacing: .1rem;
    background-color: var(--darkGreen);
    color: var(--creamWhite);
}
.contactUs__form-btn:hover {
    background-color: var(--lightGreen);
    color: var(--black);
}


/* Footer */

footer {
    background-color: var(--lightGreen);
    width: 100%;
    margin: auto;
    padding: 1.2rem 0;
}
.footer__navbar {
    gap: 2rem;
}

.footer__navbar-p {
    font-size: 1.2rem;
}

.footer__navbar-icons img {
    width: 3rem;
}